{% include "head_stat.html" %}
<body>
<style type="text/css">
h1{ margin:0; padding:13px 20px 0 10px; font-size:39px; display:block; float:left; }
h2{margin:0; padding:13px 10px 0 10px; font-size:39px; display:block; float:left; }

</style>
<header>
	<div class="fl">
        <img class="logo_stat" src="../static/img/osaLogoSmall.png" width="49" height="61" alt="logo">
        <h1>ТЕЛЕМЕТРИЯ</h1>
        <div class="sectionStat">
            Возд.:&nbsp;+&nbsp;22°C&nbsp;|<br>
            Солнце
        </div>
        <div class="sectionStat">
         Асф.:&nbsp;+&nbsp;36°C&nbsp;|<br>
         Мокрый
        </div>
        <div class="sectionStat">
         Влажн.:&nbsp;83%
        </div>
  	</div>
    <div class="rightSideStat">
        <div class="fr centerAl">
            <div id="place" class="dateStat">15 МАЙ 2013</div>
            <div id="time">19:29:<i>41</i></div>
        </div>
	    <h2>сессия: <i>2</i></h2>
    </div>
</header>

<section>
	<div class="heading">
    	<span class="hash">#</span><span class="fio">Ф.И.О.</span><span class="bl">best lap</span>
    </div>
    <div class="mainList">
    	<ul>
        	<li>
            	<div class="num">1</div>
	            <div class="pilot">Антон [Niikas] Саварников:<br>круг: 12</div>
            	<div class="best">00:58:24</div>
            </li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">+02:05 </div></li>
            <li><div class="tme bestLap">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
        </ul>
    	<ul>
        	<li>
            	<div class="num">2</div>
	            <div class="pilot">Николай [BenjaminFranklin] Шелестяков<br>круг: 12</div>
            	<div class="best">00:58:24</div>
            </li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">+02:05 </div></li>
            <li><div class="tme bestLap">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
        </ul>
    	<ul>
        	<li>
            	<div class="num">3</div>
	            <div class="pilot">Антон [Niikas] Саварников:<br>круг: 12</div>
            	<div class="best">00:58:24</div>
            </li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">+02:05 </div></li>
            <li><div class="tme bestLap">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
        </ul>
    	<ul>
        	<li>
            	<div class="num">1</div>
	            <div class="pilot">Антон [Niikas] Саварников:<br>круг: 12</div>
            	<div class="best">00:58:24</div>
            </li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">+02:05 </div></li>
            <li><div class="tme bestLap">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
        </ul>
    	<ul>
        	<li>
            	<div class="num">1</div>
	            <div class="pilot">Антон [Niikas] Саварников:<br>круг: 12</div>
            	<div class="best">00:58:24</div>
            </li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">+02:05 </div></li>
            <li><div class="tme bestLap">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
        </ul>
    	<ul>
        	<li>
            	<div class="num">1</div>
	            <div class="pilot">Антон [Niikas] Саварников:<br>круг: 12</div>
            	<div class="best">00:58:24</div>
            </li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">+02:05 </div></li>
            <li><div class="tme bestLap">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
        </ul>
    	<ul>
        	<li>
            	<div class="num">1</div>
	            <div class="pilot">Антон [Niikas] Саварников:<br>круг: 12</div>
            	<div class="best">00:58:24</div>
            </li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">+02:05 </div></li>
            <li><div class="tme bestLap">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
        </ul>
    	<ul>
        	<li>
            	<div class="num">1</div>
	            <div class="pilot">Антон [Niikas] Саварников:<br>круг: 12</div>
            	<div class="best">00:58:24</div>
            </li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">+02:05 </div></li>
            <li><div class="tme bestLap">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li class="section"><i>3</i></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
        </ul>
    	<ul>
        	<li>
            	<div class="num">1</div>
	            <div class="pilot">Антон [Niikas] Саварников:<br>круг: 12</div>
            	<div class="best">00:58:24</div>
            </li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">+02:05 </div></li>
            <li><div class="tme bestLap">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
        </ul>
    	<ul>
        	<li>
            	<div class="num">1</div>
	            <div class="pilot">Антон [Niikas] Саварников:<br>круг: 12</div>
            	<div class="best">00:58:24</div>
            </li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">+02:05 </div></li>
            <li><div class="tme bestLap">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="green">-02:05 </div></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
            <li><div class="tme bestPrev">01:02:04</div><div class="green">-02:05 </div></li>
            <li class="section"><i>2</i></li>
            <li><div class="tme">- -</div></li>
            <li class="section"><i>1</i></li>
            <li><div class="tme">01:02:04</div><div class="red">-02:05 </div></li>
        </ul>
    </div>
</section>
{% include "foot.html" %}
</body>
</html>
